<!DOCTYPE html>
<html>
  {{ partial "header.html" . }}
  <body>
  

  <div id="hero-area" class="hero-area-bg">
      <div class="overlay"></div>
      <nav class="main-nav overlay clearfix">
        {{ if .Site.Params.logo }}
            <a class="blog-logo" href="{{ .Site.BaseURL }}"><img src="{{ .Site.BaseURL }}{{.Site.Params.logo}}" alt="Blog Logo" /></a>
        {{end}}
    
        {{ if .Site.Params.RSSLink}}
        <a class="menu-button icon-feed" href="{{.Site.Params.RSSLink }}">&nbsp;&nbsp;Subscribe</a>
            {{else}}
        <a class="menu-button icon-feed" href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}">&nbsp;&nbsp;Subscribe</a>
        {{end}}
        
        {{ if .Site.Menus.main }}
            <a class="menu-button" href="{{.Site.BaseURL}}\#"><span class="burger">&#9776;</span><span class="word">BACK</span></a>
        {{end}}
       
      </nav>  


      <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/bootstrap.min.css" >
      
      <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/slicknav.css">
      <!-- Menu CSS -->
      <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/menu_sideslide.css">
      <!-- Slider CSS -->
      <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/slide-style.css">
      <!-- Nivo Lightbox -->
      <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/nivo-lightbox.css" >
      <!-- Animate -->
      <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/animate.css">
      <!-- Main Style -->
      <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/main.css">
      <!-- Responsive Style -->
      <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/responsive.css">

      <div class="container" style="background-image:url({{.Site.BaseURL}}{{.Site.Params.cover}});background-size:auto;">
        
        <div class="row">
          <div class="col-md-12 col-sm-12 text-center">
            <div class="contents">
              <!-- <h5 class="script-font wow fadeInUp" data-wow-delay="0.2s">Hi This is</h5> -->
              <!-- <h2 class="head-title wow fadeInUp" data-wow-delay="0.4s">Authors</h2> -->
              <h5 class="script-font wow fadeInUp" data-wow-delay="0.6s">Learn Apache Spark: Authors</h5>
          
            </div>
          </div>
        </div>
      </div>
  </div>

  
    <!-- Code that all your templates share, like a header -->
    {{ partial "print-authors-li" . }}
    
    <footer class="site-footer clearfix">
      <section class="copyright"><a href="">{{.Site.Title}}</a> {{.Site.Copyright}}</section>
    </footer>

  </body>




</html>